@import "../../../../Variables/Variables";

.languageSelection {
  padding: 15px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 15px;
  cursor: pointer;
  transition: top 0.4s linear;
  color: $white;
  position: relative;
  >span {
    font-size: 20px;
    text-transform: uppercase;
    color: $white;
    transition: color $transition;
  }

  svg {
    font-size: 20px;
    color: $white;
    transition: transform $transition;
    &.rotate {
      transform: rotate(180deg);
    }
  }

  .languageDropdown {
    position: absolute;
    bottom: 150px;
    left: 0;
    padding: 5px;
    width: 100%;
    box-shadow: 0 0 15px #0000000D;
    border-radius: 12px;
    opacity: 0;
    transition: opacity 0.2s ease, bottom $transition;
    pointer-events: none;
    cursor: pointer;
    border: 1px solid $greenDark;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: rgba(0, 0, 0, 0.5);


    p {
      width: 100%;
      text-align: center;
      padding: 10px 0;
      border-radius: 5px;
      transition: background $transition;
      font-size: 12px;
      &:hover {
        background: $darkBackground;
      }
      &.selected {
        background: $greenDark;
        font-weight: 800;
      }
    }
    &.languageVisible {
      opacity: 1;
      pointer-events: auto;
      bottom: 55px;
    }
  }
}
