@import "../../../Variables/Variables";
@import "../../../Animations/Animations";
@import "../../../CommonStyles/PageHeadingStyles/PageHeadingStyles.module";

.pageWrapper {
  display: flex;
  width: 100%;
  flex-direction: column;

  .ourServicesSection {
    display: flex;
    width: 100%;
    justify-content: center;

    .sectionContent {
      display: flex;
      width: 100%;
      padding: 120px 15px;
      gap: 25px;
      max-width: 1320px;
      justify-content: space-between;

      .leftContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 530px;
        position: relative;

        .decoration {
          position: absolute;
          left: -100px;
          bottom: -55px;
          animation: rotate 35s linear infinite;
        }

        .containerTitle {
          width: 100%;
        }

        .imageContainer {
          width: 100%;
          position: relative;
          margin-top: 35px;
          overflow: hidden;
          border-radius: 10px;

          &:hover {
            .cover {
              opacity: 1;
              pointer-events: auto;

              a {
                transform: translateX(0) translateY(0);
              }
            }
          }

          .cover {
            transition: opacity 0.5s ease;
            width: 100%;
            opacity: 0;
            pointer-events: none;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgba(0, 0, 0, 0.8);

            a {
              transform: translateX(50px) translateY(50px);
              transition: color $transition, transform 0.5s ease;
              font-size: 32px;
              text-transform: uppercase;

              &:hover {
                color: $green;
              }
            }
          }

          img {
            width: 100%;
            object-fit: cover;
            object-position: center;
          }

        }

      }

      .rightContainer {
        display: flex;
        flex-direction: column;
        gap: 25px;
        width: 100%;
        max-width: 600px;

        .containerEntity {
          display: flex;
          flex-direction: column;
          width: 100%;
          padding: 15px 0;
          border-top: 1px solid rgba(128, 128, 128, 0.3);
          border-bottom: 1px solid rgba(128, 128, 128, 0.3);
          transition: border-color 0.5s ease;

          &:hover {
            border-color: $green;
          }

          h2 {
            font-size: 32px;
            margin-bottom: 10px;
            color: $white;
          }

          p {
            font-size: 16px;
            font-family: $interFont;
            color: $gray;
          }
        }
      }

    }
  }

  .bannerSection {
    display: flex;
    width: 100%;
    justify-content: center;
    background-position: center left;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;

    &:after {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      z-index: 0;
      background: #222434;
      opacity: 0.8;
    }

    .decoration {
      position: absolute;
      right: 0;
      top: 0;
      z-index: 3;

      img {
        object-position: center;
        object-fit: cover;
      }
    }

    .joystickTop {
      position: absolute;
      left: 45%;
      z-index: 4;
      top: 1%;
      transform: translateX(-45%);
      animation: shake 3s linear infinite;
    }

    .joystickBottom {
      position: absolute;
      left: 40%;
      bottom: 3%;
      z-index: 4;
      transform: translateX(-40%);
      animation: shake 3s linear infinite;

    }

    .sectionContent {
      display: flex;
      width: 100%;
      max-width: 1320px;
      padding: 250px 0;
      gap: 25px;

      .titleContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 660px;
        z-index: 3;
        h4 {
          font-size: 32px;
          color: $green;
          margin-bottom: 10px;
          animation: textGlow 1s linear infinite;
        }

        h1 {
          font-size: 80px;
          color: $white;

          span {
            color: $green;
            animation: textGlow 1s linear infinite;
          }
        }

        > p {
          font-size: 24px;
          color: $gray;
          font-family: $interFont;
        }

        .statisticsContainer {
          display: flex;
          align-items: center;
          gap: 50px;
          margin-top: 40px;

          .box {
            display: flex;
            flex-direction: column;
            gap: 5px;

            p {
              font-size: 16px;
              font-family: $interFont;
              color: $gray;
              position: relative;
              width: min-content;
              white-space: nowrap;

              &:before {
                position: absolute;
                content: "";
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background: blue;
                right: -10px;
                top: 0;
              }

              &.playing {
                &:before {
                  background: $green !important;
                }
              }

            }

            h2 {
              font-size: 40px;
            }
          }
        }

        .btnContainer {
          margin-top: 50px;
        }
      }
    }
  }

  .sectionWrapper {
    margin-top: -60px;
  }
}