@import "../../../../Variables/Variables";

.deviceCard {
  width: 100%;
  border-radius: 0 10px;
  display: flex;
  flex-direction: column;
  padding: 15px;
  border: 1px solid $green;
  position: relative;
  overflow: hidden;
  background: linear-gradient(150deg, rgba(9, 9, 9, 0.5), rgba(0, 0, 0, 0.1) 100%);
  &:hover {
    .deviceOptions {
      right: 15px;
      opacity: 1;
      pointer-events: auto;

    }
    .cardImage {
      img {
        transform: scale(1.05);
      }
    }
  }
  .deviceOptions {
    position: absolute;
    display: flex;
    flex-direction: column;
    transition: right $transition,opacity $transition;
    gap: 5px;
    right: -100%;
    top: 10px;
    z-index: 3;
    opacity: 0;
    pointer-events: none;
    align-items: center;
    .option {
      &:hover {
        svg {
          transform: scale(1.1);
          color: $green;
        }
      }
      svg {
        transition: color $transition,transform $transition;
        font-size: 25px;
        cursor: pointer;

      }
    }
    .colorsBox{
      display: flex;
      flex-direction: column;
      gap: 10px;
      .color {
        width: 23px;
        height: 23px;
        border-radius: 50%;
        cursor: pointer;

      }
    }
  }
  .cardTitle {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    position: relative;

    a {
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 22px;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      font-weight: 500;
      white-space: nowrap;
      width: 100%;
      padding-right: 35px;
      margin-top: 30px;
      transition: color $transition;
      padding-bottom: 5px;
      &:hover {
        color: $green;
      }
    }

    .flag {
      position: absolute;
      font-size: 14px;
      border-radius: 5px;
      padding: 2px 8px;
      letter-spacing: 1px;
      font-weight: 600;
      top: 0;
      background: linear-gradient(90deg, $green 0%, rgba(0, 152, 255, 0) 100%);
      &.offer {
        left: 0;
      }
    }

    p {
      font-size: 12px;
      color: #b0b0b0;
      text-transform: uppercase;
      margin-top: 10px;
    }

  }
  .cardImage {
    width: 100%;
    overflow: hidden;
    min-height: 298px;
    padding: 15px;
    img {
      transition: transform $transition;
      width: 100%;
      object-position: center;
      object-fit: cover;
    }
  }
  .cardBottom {
    display: flex;
    gap: 15px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    .price {
      display: flex;
      align-items: center;
      gap: 10px;
      p {
        font-size: 18px;
      }
      span {
        font-size: 14px;
        text-decoration: line-through;
        color: #b0b0b0;
      }

    }
    .addBtn {
      display: flex;
      align-items: center;
      justify-content: center;
      text-transform: uppercase;
      cursor: pointer;
      padding: 10px 12.5px;
      border-radius: 0 10px;
      font-size: 15px;
      border: 1px solid $white;
      font-weight: 600;
      transition: transform $transition, color $transition;
      background: linear-gradient(110deg, rgba(14, 240, 173, 100), rgba(0, 0, 0, 0) 100%);
      &:hover {
        transform: scale(1.05);
        color: black;
      }
    }
  }
}
