@import "../../../../Variables/Variables";
@import "../../../../Animations/Animations";
@import "../../../../CommonStyles/PageHeadingStyles/PageHeadingStyles.module";

.faqsSection {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: $grayFill;
  position: relative;

  .decoration {
    position: absolute;
    animation: rotate 35s linear infinite;

    &.topDecor {
      right: 8%;
      top: 2%;
    }

    &.bottomDecor {
      bottom: 1%;
      left: 4%;
    }
  }

  .sectionContent {
    padding: 120px 15px;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1320px;

    .sectionTitle {
      max-width: 739px;
      margin: 0 auto;
    }

    .mainContainer {
      display: flex;
      width: 100%;
      justify-content: space-between;
      gap: 25px;
      margin-top: 50px;

      .accordion {
        max-width: 770px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 25px;

        .questionBox {
          display: flex;
          flex-direction: column;
          position: relative;
          padding: 15px 80px 15px 25px;
          background-color: #303141;
          cursor: pointer;
          overflow-y: hidden;

          &.accordionOpen {
            p {
              opacity: 1;
              height: auto;
              pointer-events: auto;
              padding-top: 15px;
              line-height: 27px;
              transition: opacity 0.3s ease

            }
          }

          .expand {
            right: 15px;
            top: 10px;
            position: absolute;
            padding: 5px;
            cursor: pointer;
            transition: color $transition;

            &:hover {
              color: $green;

              svg {
                transform: rotate(360deg) scale(1.2);
              }
            }

            svg {
              transition: transform 0.5s ease;
            }
          }

          h2 {
            font-size: 20px;
            transition: color $transition;
          }

          p {
            font-size: 16px;
            color: $gray;
            font-family: $interFont;
            opacity: 0;
            height: 0;
            pointer-events: none;
            transition: height 0.5s ease,
            padding-top 0.5s ease,
            line-height 0.5s ease;
          }
        }
      }

      .faq {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 450px;
        background-color: #303141;
        border-radius: 15px;
        border: 1px solid rgba(128, 128, 128, 0.3);
        padding: 60px 47px;
        align-items: center;
        height: min-content;

        .image {
          display: flex;
          max-width: 180px;
          width: 100%;
          object-position: center;
          object-fit: cover;
        }

        > h2 {
          font-size: 32px;
          line-height: 38.4px;
          text-align: center;
          margin: 25px 0;
        }

        > p {
          font-size: 16px;
          color: $gray;
          font-family: $interFont;
          text-align: center;
          line-height: 24px;

        }

        .btnWrapper {
          margin-top: 35px;
        }

      }
    }
  }
}

@media screen and (max-width: 1600px) {
  .faqsSection {
    .sectionContent {
      padding: 100px 15px 100px 65px;
    }
  }
}

@media screen and (max-width: 1500px) {
  .faqsSection {
    .decoration {
      &.topDecor {
        right: 1%;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .faqsSection {
    .decoration {
      &.topDecor {
        right: 2%;

        img {
          max-width: 100px;
        }
      }

      &.bottomDecor {
        left: 5%;
        bottom: unset;
        top: 2%;

        img {
          max-width: 100px;
        }

      }

    }

    .sectionContent {
      padding: 75px 15px 75px 65px;

      .mainContainer {
        margin-top: 25px;

        .accordion {
          gap: 15px;

          .questionBox {
            h2 {
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .faqsSection {
    .decoration {
      &.topDecor {
        right: 3%;

        img {
          max-width: 50px;
        }
      }

      &.bottomDecor {
        left: 7%;

        img {
          max-width: 50px;
        }

      }

    }

    .sectionContent {
      padding: 65px 15px 65px 65px;
      .sectionTitle {
        max-width: 600px;
      }

      .mainContainer {
        flex-direction: column;
        align-items: center;

        .faq {
          max-width: 600px;
          padding: 30px 15px;
          >h2{
            font-size: 24px;
          }
          p {
            font-size: 14px;
          }

        }

        .accordion {
          max-width: 600px;
        }

      }
    }
  }
}

@media screen and (max-width: 500px) {
  .faqsSection {
    .decoration {
      &.topDecor {
        display: none;
      }
      &.bottomDecor {
        display: none;
      }
    }

    .sectionContent {
      padding: 50px 15px 50px 15px;
      .mainContainer {
        .faq {
          max-width: 600px;
          padding: 30px 15px;
          >h2{
            font-size: 24px;
          }
          p {
            font-size: 14px;
          }
        }
        .accordion  {
          .questionBox {
            padding: 15px 50px 15px 25px;
            >p {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}