@import "../../../../Variables/Variables";

.footerWrapper {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;

  .footerContent {
    display: flex;
    width: 100%;
    max-width: 1320px;
    padding: 0 15px;
    flex-direction: column;

    .footerTitle {
      display: flex;
      width: 100%;
      padding: 120px 0;
      justify-content: space-between;
      gap: 50px;
      align-items: center;
      .titleLeft {
        display: flex;
        flex-direction: column;
        gap: 5px;
        max-width: 500px;
        h2 {
          font-size: 55px;
        }
        p {
          font-size: 16px;
          font-family: $interFont;
          line-height: 25px;
          a {
            color: $green;
            transition: color $transition;
            &:hover {
              color: $greenDark;
            }
          }
        }
      }
      .titleRight {
        display: flex;
        padding: 60px 32px;
        border: 1px solid $white;
        border-radius: 10px;
        width: 100%;
        max-width: 550px;
        background:$greenDark;
        .inputWrapper {
          display: flex;
          align-items: center;
          border: 1px solid $white;
          padding: 16px;
          width: 100%;
          border-radius: 10px;
          justify-content: space-between;
          input {
            background: transparent;
            padding: 0 15px 0 0;
            outline: 0;
            border: 0;
            font-size: 18px;
            width: 100%;
            color: $white;
            &::placeholder {
              color: rgba(12, 12, 12, 0.5);
            }
          }

        }
      }
    }
    .footerInfo {
      display: flex;
      width: 100%;
      padding-bottom: 120px;
      flex-wrap: wrap;
      .infoBox {
        max-width: 322px;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-right: 12px;
        &:last-child {
          padding-right: 0;
        }

        h2 {
          margin-bottom: 16px;
          font-size: 24px;
        }
        .infoContent {
          display: flex;
          gap: 20px;
          .iconBox {
            min-width: 60px;
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: $grayFill;
            border-radius: 50%;
            color: $green;
            svg {
              font-size: 24px;
            }
          }
          .title {
            display: flex;
            flex-direction: column;
            max-width: 225px;
            width: 100%;
            gap: 5px;
            h3 {
              font-size: 20px;
            }
            p {
              font-size: 16px;
              color: $gray;
            }
          }
        }


      }
    }
  }
  .footerCopyright {
    display: flex;
    align-items: center;
    padding: 32px 15px;
    border-radius: 15px 15px 0 0;
    background: $grayFill;
    justify-content: space-between;
    gap: 25px;
    max-width: 1290px;
    width: 100%;
    p {
      display: inline-flex;
      align-items: center;
      gap: 5px;
      font-size: 16px;
      color: $gray;
      a {
        transition: color $transition;
        color: $green;
        &:hover {
          color: $greenDark;
        }
      }
    }
    span {
      display: inline-flex;
      align-items: center;
      gap: 10px;
      font-size: 16px;
      color: $white;
      a {
        transition: color $transition;
        &:hover {
          color: $green;
        }
      }
    }

  }

}

@media screen and (max-width: 1600px) {
  .footerWrapper {
    padding-left: 50px;
  }
}
@media screen and (max-width: 1376px) {
  .footerWrapper {
    .footerContent {
      .footerInfo {
        gap: 35px;
      }
    }
  }
}
@media screen and (max-width: 1320px) {
  .footerWrapper {
    .footerContent {
      .footerTitle {
        padding: 80px 0;
      }
      .footerInfo {
        padding-bottom: 80px;
      }
    }
  }
}
@media screen and (max-width: 1200px) {
  .footerWrapper {
    .footerContent {
      .footerTitle {
        padding: 50px 0 35px 0;
        gap: 25px;
        .titleLeft {
          max-width: 450px;
          h2 {
            font-size: 40px;
          }
        }
        .titleRight {
          padding: 40px 30px;
        }
      }
    }
  }
}
@media screen and (max-width: 1000px) {
  .footerWrapper {
    .footerContent {
      .footerTitle {
        flex-direction: column;
        align-items: start;
        .titleLeft {
          max-width: unset;
        }
        .titleRight {
          max-width: 620px;
        }
      }
    }
  }
}
@media screen and (max-width: 850px) {
  .footerWrapper {
    .footerCopyright {
      span {
        font-size: 15px;
      }
      p {
        font-size: 15px;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .footerWrapper {
    .footerContent {
      .footerInfo {
        flex-direction: column;
        padding-bottom: 25px;
        gap: 20px;
      }
    }
    .footerCopyright {
      border-radius: 0;
      flex-direction: column;
      align-items: start;
      gap: 15px;
      padding: 20px  15px;
    }

  }
}
@media screen and (max-width: 500px) {
  .footerWrapper {
    padding-left: 0;
  }
}

@media screen and (max-width: 520px) {
  .footerWrapper {
    .footerContent {
      .footerTitle {
        .titleLeft {
          h2 {
            font-size: 30px;
          }
        }
        .titleRight {
          padding: 20px 15px;
          .inputWrapper {
            gap: 15px;
            padding: 15px;
            flex-direction: column;
            align-items: start;
            .subscribeButton {
              width: 100%;
            }
          }
        }
      }
    }
    .footerCopyright {
      p {
        display: block;
        font-size: 14px;
        line-height: 25px;
      }
      span {
        flex-direction: column;
        display: flex;
        align-items: start;
        gap: 15px;
      }
    }
  }
}
@media screen and (max-width: 400px) {
  .footerWrapper {
    .footerContent {
      .footerTitle {
        .titleLeft {
          h2 {
            font-size: 28px;
            margin-bottom: 5px;
          }
        }
      }
    }
  }
}
