$background: #161829;
$green: #0EF0AD;
$darkBackground: #222434;
$white: #F5F5F5;
$chakraFont: "Chakra Petch", sans-serif;
$interFont: "Inter", sans-serif;
$transition: 0.3s ease;
$gray: rgb(197, 197, 202);
$greenDark: #09926a;
$black: #222434;
$grayFill : #303141;

