@import '../../../../Variables/Variables';
@import '../../../../Animations/Animations';
@import "../../../../CommonStyles/PageHeadingStyles/PageHeadingStyles.module";

.contactSection {
  display: flex;
  width: 100%;
  justify-content: center;
  position: relative;
  background-image: url("https://pixner.net/gamestorm3/main/assets/images/call-to-action-object.png"),
  url("https://pixner.net/gamestorm3/main/assets/images/call-to-action-object-2.png");
  background-position: center left, center right;
  background-repeat: no-repeat;
  padding: 120px 15px;

  .sectionContent {
    max-width: 1320px;
    display: flex;
    width: 100%;
    background-color: $green;
    align-items: center;
    padding: 120px;
    justify-content: space-between;
    gap: 50px;
    border-radius: 25px;
    overflow: hidden;

    .title {
      display: flex;
      width: 100%;
      max-width: 550px;
      color: $black;
      flex-direction: column;

      p {
        font-size: 24px;
        font-weight: 800;
        margin-bottom: 24px;
      }

      h2 {
        font-size: 40px;
        line-height: 45px;
        margin-bottom: 24px;
      }

      a {
        font-size: 16px;
        background-color: $black;
        color: $white;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 200px;
        padding: 14px 0;
        border-radius: 10px;
        font-family: $interFont;
        font-weight: 600;
        transition: color $transition, background-color $transition, border-color $transition;
        border: 2px solid transparent;

        &:hover {
          border-color: $black;
          color: $white;
          background-color: $greenDark;
        }
      }
    }

    .animatedBox {
      width: 100%;
      flex-direction: column;
      display: flex;
      max-width: 250px;
      background-color: $grayFill;
      align-items: center;
      justify-content: center;
      height: 250px;
      border-radius: 50%;
      gap: 12px;
      position: relative;
      .decoration {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 110px;
        height: 110px;
        border-radius: 50%;
        border: 4px solid $black;
        transform: translate(-50%, -50%);
        animation: circleGrow 5s linear infinite;

        &.circleOne {
          animation-delay: 0s;
        }

        &.circleTwo {
          animation-delay: 0.5s;
        }

        &.circleThree {
          animation-delay: 1s;
        }

        &.circleFour {
          animation-delay: 1.5s;
        }

        &.circleFive {
          animation-delay: 2s;
        }

        &.circleSix {
          animation-delay: 2.5s;
        }

        &.circleSeven {
          animation-delay: 3s;
        }

        &.circleEight {
          animation-delay: 3.5s;
        }

        &.circleNine {
          animation-delay: 4s;
        }

        &.circleTen {
          animation-delay: 4.5s;
        }
      }

      .row {
        display: flex;
        align-items: center;
        gap: 5px;
        z-index: 3;

        span {
          font-size: 16px;
          font-family: $interFont;
          font-weight: 600;

        }

        svg {
          font-size: 25px;
          color: $green;
        }

        h2 {
          color: $green;
        }
      }
    }
  }
}
