@import "../../../../Variables/Variables";

.formContent {
  display: flex;
  width: 100%;
  flex-direction: column;
  background-color: #222434;
  border-radius: 15px;
  border: 1px solid rgba(128, 128, 128, 0.3);
  padding: 25px 20px;
  gap: 15px;

  .inputWrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-radius: 15px;
    color: $gray;
    font-family: $interFont;
    margin-bottom: 10px;

    input {
      border: 1px solid rgba(128, 128, 128, 0.3);
      padding: 20px;
      background: transparent;
      border-radius: 10px;
      outline: 0;
      color: $white;
      font-size: 16px;
      font-family: $interFont;
      transition: border-color $transition;

      &::placeholder {
        color: #4c4d5a;
      }

      &:focus {
        border-color: $green;
      }

    }

    textarea {
      outline: 0;
      resize: none;
      color: $white;
      height: 150px;
      padding: 15px 20px;
      background: transparent;
      border-radius: 15px;
      border: 1px solid rgba(128, 128, 128, 0.3);
      font-size: 16px;
      font-family: $interFont;
      transition: border-color $transition;

      &::placeholder {
        color: #4c4d5a;
      }

      &:focus {
        border-color: $green;
      }

    }
  }

  .btnWrapper {
    margin-top: 15px;
  }
}

