@import "../../../Variables/Variables";

.homeWrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  background: $darkBackground;

  .bannerSection {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;

    .sectionContent {
      max-width: 1320px;
      display: flex;
      width: 100%;
      padding: 160px 15px;
      justify-content: space-between;
      gap: 25px;
      align-items: center;

      .titleContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 750px;

        h4 {
          color: $green;
          font-size: 32px;
        }

        h2 {
          color: $white;
          font-size: 65px;
          margin-top: 20px;
        }

        span {
          color: $green;
          font-weight: 700;
          font-size: 85px !important;
        }

        p {
          font-size: 24px;
          font-family: $interFont;
          color: $gray;
        }
      }

      .swiperContainer {
        display: flex;
        width: 100%;
        max-width: 450px;
        padding: 0 15px;
        flex-direction: column;

        .swiperHead {
          display: flex;
          justify-content: end;
          gap: 15px;
          align-items: center;
          height: min-content;
          width: 100%;
          margin-bottom: 20px;

          img {
            width: 32px;
            object-fit: cover;
            object-position: center;
            height: 29px;
          }

          p {
            font-size: 24px;
            font-weight: 600;
            margin-bottom: 5px;
          }
        }
        .swiperWrapper {
          .cardWrapper {
            padding-bottom: 50px;
          }
        }

      }
    }
  }

}