@import "../../../Variables/Variables";
@import "../../../Animations/Animations";
@import "../../../CommonStyles/PageHeadingStyles/PageHeadingStyles.module";

.homeWrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  background: $darkBackground;

  .bannerSection {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    position: relative;
    overflow: hidden;
    .gearBox {
      position: absolute;
      right: 0.5%;
      top: 8.5%;
      display: flex;
      width: 95px;
      height: 95px;
      flex-direction: column;
      .gear {
        position: absolute;
        &:nth-child(1) {
          right: 0;
          top: 0;

          svg {
            font-size: 50px;
          }
        }
        &:nth-child(2) {
          left: 0;
          top: 5px;

          svg {
            font-size: 40px;
          }
        }
        &:nth-child(3) {
          right: 15px;
          bottom: 5px;
          svg {
            font-size: 30px;
          }
        }
        svg {
          animation: rotate 3s linear infinite;
          color: $green;
        }

      }
    }

    .decoration {
      position: absolute;

      img {
        object-fit: cover;
        object-position: center;
      }

      &.planet {
        top: 180px;
        left: 100px;
        animation: rotate 15s linear infinite;
        z-index: 2;
      }

      &.joystick {
        left: 38.5%;
        top: 60px;
        transform: translateX(-38.5%);
        animation: shake 15s linear infinite;
        z-index: 2;
      }

      &.controllers {
        left: 45%;
        transform: translateX(-45%);
        bottom: 75px;
        z-index: 2;
      }

      &.tubesSolid {
        display: flex;
        height: 120%;
        gap: 25px;
        transform: rotate(20deg);
        right: 15%;
        bottom: -105px;
        width: auto;

        .wideTube {
          width: 300px;
          height: 100%;
          background-color: $greenDark;
          animation: moveUpShort 15s linear 4s;
          transform-origin: bottom;


        }

        .thinTube {
          width: 20px;
          height: 100%;
          background-color: $greenDark;
          animation: moveUp 15s linear infinite;
          transform-origin: bottom;

        }
      }

      &.tubeTransparent {
        left: 12%;
        transform: rotate(18deg);
        bottom: -227px;
        height: 35%;

        .wideTube {
          animation: moveUp 15s linear infinite;
          background: linear-gradient(to top, #09926a, rgba(14, 240, 173, 0));
        }

        .thinTube {
          animation: moveUp 10s linear infinite;
          background: linear-gradient(to top, #09926a, rgba(14, 240, 173, 0));
        }
      }

      &.starsDefault {
        display: flex;
        width: 100px;
        height: 100px;
        animation: stretch 10s linear infinite;

        img {
          position: absolute;
          object-position: center;
          object-fit: cover;

          &:nth-child(1) {
            right: 0;
            bottom: 0;
          }

          &:nth-child(2) {
            left: 0;
            bottom: 0;
          }

          &:nth-child(3) {
            right: 0;
            top: 0;
          }
        }

        &.starsOne {
          left: calc(50% + 110px);
          bottom: calc(50% - 150px);
          transform: translate(-50%, -50%);
        }

        &.starsTwo {
          top: 15%;
          left: 15%;
        }

        &.starsThree {
          top: 15%;
          left: 2%;
        }

        &.starsFour {
          top: 30%;
          left: 5%;
        }
      }
    }

    .sectionContent {
      max-width: 1320px;
      display: flex;
      width: 100%;
      padding: 200px 15px;
      justify-content: space-between;
      gap: 25px;
      align-items: center;
      z-index: 3;

      .titleContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 750px;

        h4 {
          color: $green;
          font-size: 32px;
        }

        h2 {
          color: $white;
          font-size: 65px;
          margin-top: 20px;
        }

        span {
          color: $green;
          font-weight: 700;
          font-size: 85px !important;
        }

        p {
          font-size: 24px;
          font-family: $interFont;
          color: $gray;
          margin-bottom: 32px;
        }
      }

      .swiperContainer {
        display: flex;
        width: 100%;
        max-width: 450px;
        padding: 0 15px;
        flex-direction: column;

        .swiperHead {
          display: flex;
          justify-content: end;
          gap: 15px;
          align-items: center;
          height: min-content;
          width: 100%;
          margin-bottom: 20px;

          img {
            width: 32px;
            object-fit: cover;
            object-position: center;
            height: 29px;
          }

          p {
            font-size: 24px;
            font-weight: 600;
            margin-bottom: 5px;
          }
        }

        .swiperWrapper {
          .cardWrapper {
            padding-bottom: 50px;
          }
        }

      }
    }
  }

  .productsSection {
    display: flex;
    width: 100%;
    justify-content: center;
    background: $background;

    .sectionContent {
      display: flex;
      width: 100%;
      max-width: 1320px;
      padding: 120px 15px 60px 15px;
      flex-direction: column;
      align-items: center;

      .productsTitle {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 700px;
        width: 100%;
        margin-bottom: 50px;
      }

      .productsSwiper {
        display: flex;
        width: 100%;

        .cardWrapper {
          display: flex;
          padding-bottom: 60px;
        }
      }
    }
  }

  .lifeSection {
    display: flex;
    width: 100%;
    justify-content: center;
    background: $background;
    position: relative;

    &:after {
      position: absolute;
      top: 0;
      left: 0;
      content: "";
      width: 100%;
      height: 50%;
      background-position: center;
      transform: rotate(180deg);
      background-size: cover;
      background-image: url("https://pixner.net/gamestorm3/main/assets/images/life-at-gamestorm.png");
    }

    &:before {
      position: absolute;
      bottom: 0;
      left: 0;
      content: "";
      width: 100%;
      height: 50%;
      background-position: center;
      background-size: cover;
      background-image: url("https://pixner.net/gamestorm3/main/assets/images/life-at-gamestorm.png");
    }

    .sectionContent {
      display: flex;
      flex-direction: column;
      padding: 60px 15px;
      align-items: center;
      z-index: 3;

      .topTitle {
        max-width: 700px;
      }

      .imagesContainer {
        display: flex;
        width: 100%;
        flex-direction: column;
        gap: 15px;
        margin-top: 25px;
        margin-bottom: 75px;

        .imagesRow {
          display: flex;
          width: 100%;
          gap: 15px;
          align-items: center;
          justify-content: space-between;

          img {
            object-position: center;
            object-fit: cover;
            width: 100%;
            border-bottom: 3px solid $green;
            border-radius: 5px 5px 0 0;
          }

          .bigImg {
            width: 100%;
            max-width: 636px;
          }

          .smallImg {
            width: 100%;
            max-width: 416px;
          }
        }
      }

      .joinContainer {
        display: flex;
        flex-direction: column;
        gap: 10px;
        max-width: 550px;
        width: 100%;
        align-items: center;

        h2 {
          font-size: 52px;
          text-transform: uppercase;
        }

        p {
          margin-bottom: 10px;
          color: $white;
          font-size: 18px;
          text-align: center;
        }
      }


    }
  }

  .communitySection {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    background-color: $background;
    overflow: hidden;
    background-image: url("https://pixner.net/gamestorm3/main/assets/images/call-to-action-object.png"), url("https://pixner.net/gamestorm3/main/assets/images/call-to-action-object-2.png");
    background-position: center left, center right;
    background-repeat: no-repeat;


    .sectionContent {
      display: flex;
      width: 100%;
      max-width: 1320px;
      padding: 120px 15px;
      gap: 25px;
      justify-content: space-between;
      align-items: center;

      .imageBlock {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 550px;
        position: relative;

        .decoration {
          position: absolute;
          left: 50%;
          top: 50%;
          width: 110px;
          height: 110px;
          border-radius: 50%;
          border: 4px solid $green;
          transform: translate(-50%, -50%);
          animation: circleGrow 5s linear infinite;

          &.circleOne {
            animation-delay: 0s;
          }

          &.circleTwo {
            animation-delay: 0.5s;
          }

          &.circleThree {
            animation-delay: 1s;
          }

          &.circleFour {
            animation-delay: 1.5s;
          }

          &.circleFive {
            animation-delay: 2s;
          }

          &.circleSix {
            animation-delay: 2.5s;
          }

          &.circleSeven {
            animation-delay: 3s;
          }

          &.circleEight {
            animation-delay: 3.5s;
          }

          &.circleNine {
            animation-delay: 4s;
          }

          &.circleTen {
            animation-delay: 4.5s;
          }
        }

        img {
          width: 100%;
          max-width: 425px;
          object-fit: cover;
          object-position: center;
          z-index: 3;
        }
      }
      .titleBlock {
        max-width: 630px;
        width: 100%;
        display: flex;
        flex-direction: column;
        .buttonsBlock {
          margin-top: 25px;
          display: flex;
          align-items: center;
          gap: 25px;
        }
      }

    }
  }

  .contactUsSection {
    display: flex;
    width: 100%;
    justify-content: center;
    background-image: url("https://pixner.net/gamestorm3/main/assets/images/contact-us-obj.png"), url("https://pixner.net/gamestorm3/main/assets/images/contact-us-object-2.png");
    background-position: center left, center right;
    background-repeat: no-repeat;
    background-color: $background;
    .sectionContent {
      padding: 120px 15px;
      display: flex;
      width: 100%;
      max-width: 1320px;
      align-items: center;
      justify-content: space-between;
      gap: 25px;
      .titleBlock {
        max-width: 550px;
        width: 100%;
        display: flex;
        flex-direction: column;
        .infoRow {
          margin-top: 25px;
          display: flex;
          align-items: center;
          gap: 10px;
          .icon {
            width: 40px;
            height: 40px;
            background: $grayFill;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $green;
            border-radius: 50%;
          }
          p {
            color: $gray;
            font-family: $interFont;
          }

        }
      }
      .formContainer {
        max-width: 550px;
        padding: 16px;
        border-radius: 10px;
        width: 100%;
        background: $grayFill;
        margin-right: 80px;
        .formBox {
          background: #222434;
          padding:25px 18px;
          width: 100%;
          display: flex;
          flex-direction: column;
          border-radius: 10px;
          border: 1px solid #404250;
          gap: 20px;

          .inputBox {
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 8px;
            font-size: 16px;
            color: $gray;
            font-family: $interFont;
            .input {
              padding: 15px 20px;
              border: 1px solid #4c4d5a;
              border-radius: 10px;
              font-size: 16px;
              color: $white;
              background: inherit;
              font-family: $interFont;
              outline: 0;
              &::placeholder {
                color: #4c4d5a;
              }
              &.messageInput {
                resize: none;
                height: 150px;
                margin-bottom: 25px;
              }

            }
          }
        }

      }
    }

  }
}