@import "../../../../Variables/Variables";

.sliderSection {
  display: flex;
  width: 100%;
  padding: 60px 0;
  align-items: center;

  .slideBox {
    display: flex;
    width: 100%;
    max-height: 330px;

    img {
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}

@media screen and (max-width: 800px) {
  .sliderSection {
    padding: 50px 0;
  }
}

@media screen and (max-width: 700px) {
  .sliderSection {
    padding: 50px 0;
    .slideBox {
      max-height: 250px!important;
      height: 250px;
    }
  }
}