@import "../../../Variables/Variables";

.pageWrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  background: $background;
  .pageContent {
    display: flex;
    max-width: 1100px;
    width: 100%;
    flex-direction: column;
    padding: 75px 15px 0 15px;
    .privacyTitle {
      display: flex;
      flex-direction: column;
      margin-bottom: 25px;
      color: $gray;
      >h2 {
        font-size: 24px;
        color: $white;
        text-transform: uppercase;
        margin-bottom: 30px;
      }
      p {
        margin-bottom: 30px;
        font-size: 16px;
      }
      ul {
        list-style: none;
        margin-bottom: 30px;
        font-size: 18px;
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
      ol {
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-size: 18px;
        margin-bottom: 25px;
        li {
          padding-left: 10px;

        }
      }
    }
  }
}
@media screen and (max-width: 1250px) {
  .pageWrapper {
    .pageContent {
      max-width: unset;
      padding: 50px 15px 0 85px;
    }
  }
}

@media screen and (max-width: 1000px) {
  .pageWrapper {
    .pageContent {
      .privacyTitle {
        h2 {
          font-size: 20px;
          margin-bottom: 20px;
        }
        p {
          margin-bottom: 20px;
        }
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .pageWrapper {
    .pageContent {
      padding: 35px 15px 0 85px;
      .privacyTitle {
        h2 {
          font-size: 18px;
          margin-bottom: 15px;
        }
        p {
          font-size: 15px;
          margin-bottom: 15px;
        }
        ul {
          font-size: 16px;
        }
        ol {
          font-size: 16px;
        }
      }
    }
  }
}
@media screen and (max-width: 500px) {
  .pageWrapper {
    .pageContent {
      padding: 35px 15px 0 25px;
      .privacyTitle {
        margin-bottom: 15px;
      }
    }
  }
}

