@import "../../../Variables/Variables";
@import "../../../Animations/Animations";
@import "../../../CommonStyles/PageHeadingStyles/PageHeadingStyles.module";

.pageWrapper {
  display: flex;
  width: 100%;
  flex-direction: column;

  .contactUsSection {
    display: flex;
    width: 100%;
    justify-content: center;
    background-image: url("https://pixner.net/gamestorm3/main/assets/images/contact-us-obj.png"),
    url("https://pixner.net/gamestorm3/main/assets/images/contact-us-object-2.png");
    background-position: center left, center right;
    background-repeat: no-repeat;

    .sectionContent {
      padding: 120px 15px;
      width: 100%;
      max-width: 1320px;
      flex-direction: column;

      .sectionTitle {
        max-width: 550px;
        margin: 0 auto;
      }

      .mainContainer {
        display: flex;
        width: 100%;
        gap: 25px;
        justify-content: space-between;
        margin-top: 50px;

        .formWrapper {
          max-width: 715px;
          width: 100%;
          display: flex;
          flex-direction: column;
          background-color: #303141;
          border-radius: 15px;
          border: 1px solid rgba(128, 128, 128, 0.3);
          color: $white;
          padding: 32px;

          > h3 {
            font-size: 32px;
            margin-bottom: 24px;
          }
        }

        .infoWrapper {
          display: flex;
          width: 100%;
          max-width: 550px;
          padding: 60px 25px;
          color: $white;
          background-color: #303141;
          border-radius: 15px;
          border: 1px solid rgba(128, 128, 128, 0.3);
          flex-direction: column;

          > h2 {
            text-transform: capitalize;
            font-size: 32px;
            padding-bottom: 30px;
            width: 100%;
            border-bottom: 1px solid rgba(128, 128, 128, 0.3);
          }

          .infoRow {
            display: flex;
            flex-direction: column;
            width: 100%;
            border-bottom: 1px solid rgba(128, 128, 128, 0.3);
            margin-top: 25px;
            padding-bottom: 30px;
            gap: 10px;

            h2 {
              display: inline-flex;
              align-items: center;
              gap: 10px;
              font-size: 24px;
              margin-bottom: 10px;

              svg {
                font-size: 32px;
              }

            }

            h3 {
              display: inline-flex;
              gap: 20px;
              align-items: center;
              font-family: $interFont;
              font-size: 16px;
              font-weight: 400;
              color: $gray;
            }
          }

          .socialContainer {
            margin-top: 40px;
            padding: 32px;
            display: flex;
            align-items: center;
            gap: 12px;
            justify-content: center;
            background-color: #404250;
            border-radius: 15px;

            a {
              display: flex;
              width: 40px;
              height: 40px;
              align-items: center;
              justify-content: center;
              border-radius: 50%;
              border: 1px solid #73747f;
              transition: background-color $transition, transform 0.5s ease;

              &:hover {
                background-color: $greenDark;
                transform: rotate(360deg);
              }
            }


          }
        }
      }

    }
  }

  .mapSection {
    display: flex;
    width: 100%;
    border: 1px solid $green;

    iframe {
      width: 100%;
      height: 350px;
      outline: 0;
    }
  }

  .faqsSection {
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: $grayFill;
    position: relative;

    .decoration {
      position: absolute;
      animation: rotate 35s linear infinite;

      &.topDecor {
        right: 8%;
        top: 10%;
      }

      &.bottomDecor {
        bottom: 10%;
        left: 4%;
      }
    }

    .sectionContent {
      padding: 120px 15px;
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 1320px;

      .sectionTitle {
        max-width: 739px;
        margin: 0 auto;
      }

      .mainContainer {
        display: flex;
        width: 100%;
        justify-content: space-between;
        gap: 25px;
        margin-top: 50px;

        .accordion {
          max-width: 770px;
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: 25px;

          .questionBox {
            display: flex;
            flex-direction: column;
            position: relative;
            padding: 15px 80px 15px 25px;
            background-color: #303141;
            cursor: pointer;
            overflow-y: hidden;

            &.accordionOpen {
              p {
                opacity: 1;
                height: auto;
                pointer-events: auto;
                padding-top: 15px;
                line-height: 27px;
                transition: opacity 0.3s ease

              }
            }
            .expand {
              right: 15px;
              top: 10px;
              position: absolute;
              padding: 5px;
              cursor: pointer;
              transition: color $transition;

              &:hover {
                color: $green;

                svg {
                  transform: rotate(360deg) scale(1.2);
                }
              }

              svg {
                transition: transform 0.5s ease;
              }
            }

            h2 {
              font-size: 20px;
              transition: color $transition;
            }

            p {
              font-size: 16px;
              color: $gray;
              font-family: $interFont;
              opacity: 0;
              height: 0;
              pointer-events: none;
              transition: height 0.5s ease,
              padding-top 0.5s ease,
              line-height 0.5s ease;
            }
          }
        }

        .faq {
          display: flex;
          flex-direction: column;
          width: 100%;
          max-width: 450px;
          background-color: #303141;
          border-radius: 15px;
          border: 1px solid rgba(128, 128, 128, 0.3);
          padding: 60px 47px;
          align-items: center;
          height: min-content;

          .image {
            display: flex;
            max-width: 180px;
            width: 100%;
            object-position: center;
            object-fit: cover;
          }

          > h2 {
            font-size: 32px;
            line-height: 38.4px;
            text-align: center;
            margin: 25px 0;
          }

          > p {
            font-size: 16px;
            color: $gray;
            font-family: $interFont;
            text-align: center;
            line-height: 24px;

          }

          .btnWrapper {
            margin-top: 35px;
          }

        }
      }
    }
  }

  .sliderSectionWrapper {
    margin-bottom: -60px;
  }
}