@import "../../../Variables/Variables";
@import "../../../Animations/Animations";
@import "../../../CommonStyles/PageHeadingStyles/PageHeadingStyles.module";

.pageWrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  .sliderSectionWrapper {
    margin-bottom: -60px;
  }
}