@import '../../../Variables/Variables';
@import '../../../Animations/Animations';
@import "../../../CommonStyles/PageHeadingStyles/PageHeadingStyles.module";

.pageWrapper {
  display: flex;
  width: 100%;
  flex-direction: column;

  .spaceForSection {
    width: 100%;
    padding: 60px 0;
    background-color: $background;
  }

  .gamingCharacterSection {
    display: flex;
    width: 100%;
    background-color: $grayFill;
    flex-direction: column;
    align-items: center;

    .sectionContent {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 1320px;
      padding: 120px 15px 0 15px;

      .sectionTitle {
        max-width: 530px;
        margin: 0 auto 40px auto;
      }
    }

    .swiperContainer {
      width: 100%;
      display: flex;

      .sliderBox {
        display: flex;
        width: 100%;
        flex-direction: column;
        padding: 50px 35px;

        &.activeSlide {
          background-color: #2D2F3E;

          .circle {
            transform: rotate(360deg);
            transition: transform 0.5s ease;

            svg {
              transform: scale(1.2);
              transition: transform 0.5s ease;

            }

          }
        }

        .circle {
          width: 80px;
          height: 80px;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: $greenDark;
          margin-bottom: 24px;
          border-radius: 50%;

          svg {
            color: $white;
            font-size: 40px;
          }
        }

        h2 {
          color: $white;
          font-size: 32px;
          margin-bottom: 8px;
        }

        p {
          font-size: 16px;
          color: $gray;
          line-height: 25px;
          padding-right: 35px;
          font-family: $interFont;
        }
      }

    }

    .pagination {
      max-width: 1320px;
      padding: 0 15px 120px 15px;
      width: 100%;
      justify-content: center;
      margin-top: 75px;
      display: flex;

      .container {
        flex: 1;
        height: 1px;
        background-color: rgba(128, 128, 128, 0.6);
        transition: background-color $transition;
      }

    }

  }

  .ourFocusSection {
    display: flex;
    width: 100%;
    background-color: $grayFill;
    flex-direction: column;
    align-items: center;
    position: relative;

    .decoration {
      position: absolute;

      &.square {
        left: 13%;
        top: 25%;
        animation: rotate 25s linear infinite;
      }

      &.spring {
        top: 5%;
        right: 12%;
        animation: shake 3s linear infinite;

      }

      img {
        object-fit: cover;
        object-position: center;
      }
    }


    .sectionContent {
      display: flex;
      width: 100%;
      max-width: 1320px;
      align-items: center;
      padding: 120px 15px 0 15px;

      .sectionTitle {
        margin: 0 auto 50px auto;
        max-width: 1000px;
      }
    }

  }

  .ourStorySection {
    display: flex;
    width: 100%;
    justify-content: center;
    .sectionContent {
      display: flex;
      width: 100%;
      max-width: 1320px;
      padding: 120px 15px 0 15px;
      justify-content: space-between;
      align-items: center;
      gap: 50px;
      .swiperContainer {
        width: 100%;
        display: flex;
        max-width: 660px;
        flex-direction: column;
        align-items: center;
        .title {
          display: flex;
          flex-direction: column;
          width: 100%;
          h2 {
            color: $white;
            font-size: 24px;
          }
          p {
            font-size: 16px;
            color: $gray;
            font-family: $interFont;
            margin-top: 18px;
          }
        }
        .swiper {
          display: flex;
          width: 100%;
          margin-top: 30px;
          .swiperBox {
            width: 100%;
            padding: 40px 32px;
            border: 1px solid rgba(128, 128, 128, 0.3);
            border-radius: 15px;
            gap: 20px;
            display: flex;
            background-color: $grayFill;
            .date {
              display: flex;
              align-items: center;
              justify-content: center;
              background-color: #EDCB50;
              color: $black;
              min-width: 120px;
              height: 120px;
              border-radius: 10px;
              font-size: 32px;
              font-weight: 800;
            }
            .goal {
              display: flex;
              flex-direction: column;
              width: 100%;
              h2 {
                font-size: 32px;
                color: $white;
                margin-bottom: 5px;
              }
              p {
                font-family: $interFont;
                font-size: 16px;
                color: $gray;
                padding-right: 50px;
                line-height: 23px;
              }
            }
          }

        }
        .pagination {
          display: flex;
          align-items: center;
          width: 100%;
          margin-top: 35px;
          .location {
            height: 1px;
            background-color: #4c4d5a;
            flex: 1;
          }
        }
      }
      .imageContainer {
        display: flex;
        width: 100%;
        max-width: 550px;
        img {
          width: 100%;
          object-position: center;
          object-fit: cover;
        }
      }
    }
  }

  .jobsSectionWrapper {
    display: flex;
    width: 100%;
    margin-top: -120px;
  }

  .partnersSection {
    display: flex;
    width: 100%;
    justify-content: center;
    .sectionContent {
      display: flex;
      width: 100%;
      max-width: 1320px;
      padding: 120px 15px 60px 15px;
      flex-direction: column;
      .sectionTitle {
        max-width: 650px;
        margin: 0 auto;
      }
      .partnersContainer {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        gap: 25px;
        max-width: 1100px;
        justify-content: space-between;
        margin:  50px auto 0 auto;
        .partnerLogo {
          width: 100%;
          max-width: 210px;
          img {
            width: 100%;
            object-fit: cover;
            object-position: center;
          }
        }
      }
    }
  }

  .sliderSectionWrapper {
    margin-bottom: -60px;
  }
}

