@import '../../../Variables/Variables';
@import '../../../Animations/Animations';
@import "../../../CommonStyles/PageHeadingStyles/PageHeadingStyles.module";

.pageWrapper {
  display: flex;
  width: 100%;
  flex-direction: column;

  .spaceForSection {
    width: 100%;
    padding: 60px 0;
    background-color: $background;
  }
  .gamingCharacterSection {
    display: flex;
    width: 100%;
    background-color: $grayFill;
    flex-direction: column;
    align-items: center;

    .sectionContent {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 1320px;
      padding: 120px 15px 0 15px;

      .sectionTitle {
        max-width: 530px;
        margin: 0 auto 40px auto;
      }
    }

    .swiperContainer {
      width: 100%;
      height: 300px;
      background-color: gray;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .ourFocusSection {
    display: flex;
    width: 100%;
    background-color: $grayFill;
    flex-direction: column;
    align-items: center;
    position: relative;
    .decoration {
      position: absolute;

      &.square {
        left: 13%;
        top: 25%;
        animation: rotate 25s linear infinite;
      }

      &.spring {
        top: 5%;
        right: 12%;
        animation: shake 3s linear infinite;

      }

      img {
        object-fit: cover;
        object-position: center;
      }
    }



    .sectionContent {
      display: flex;
      width: 100%;
      max-width: 1320px;
      align-items: center;
      padding: 120px 15px 0 15px;

      .sectionTitle {
        margin: 0 auto 50px auto;
        max-width: 1000px;
      }
    }

  }
}

