@import "../../../Variables/Variables";
@import "../../../Animations/Animations";
@import "../../../CommonStyles/PageHeadingStyles/PageHeadingStyles.module";

.shopWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;

  .productsSection {
    display: flex;
    width: 100%;
    justify-content: center;
    background: $grayFill;
    padding: 50px 15px;

    .sectionContent {
      display: flex;
      width: 100%;
      max-width: 1400px;
      gap: 10px;

      .allFilters {
        max-width: 300px;
        width: 100%;
        padding: 0 15px;

        > h2 {
          font-size: 24px;
          color: $white;
          border-bottom: 1px solid $green;
          padding-bottom: 10px;
        }

        .filterBox {
          display: flex;
          flex-direction: column;
          width: 100%;
          color: $white;
          margin-top: 25px;
          border-bottom: 1px solid $green;
          padding-bottom: 15px;

          &:last-child {
            border-bottom: 0;
          }

          h2 {
            font-size: 18px;
            text-transform: uppercase;
            margin-bottom: 10px;
          }

          .filterOptions {
            display: flex;
            width: 100%;
            align-items: center;
            padding: 10px 0;
            justify-content: space-between;
            cursor: pointer;
            transition: color $transition;

            &:hover {
              color: $green;
            }

          }

          .priceSlider {
            display: flex;
            flex-direction: column;

            .sliderWrapper {
              padding: 0 8px;
              margin-bottom: 20px;
            }

            .buttonsBox {
              display: flex;
              align-items: center;
              gap: 15px;
              margin-bottom: 20px;

              .btn {
                text-transform: uppercase;
                display: flex;
                align-items: center;
                justify-content: center;
                background: $green;
                color: $black;
                font-size: 20px;
                font-weight: bold;
                padding: 6px 12.5px;
                border-radius: 10px;
                width: 50%;
                cursor: pointer;
                transition: background $transition, color $transition;

                &:nth-child(1) {
                  &:hover {
                    background: $greenDark;
                    color: $white;
                  }
                }

                &:nth-child(2) {
                  &:hover {
                    background: $gray;
                    color: $black;
                  }
                }

              }
            }

            .sliderValue {
              display: inline-flex;
              align-items: center;
              gap: 8px;
              padding-bottom: 10px;
            }
          }
        }

      }

      .productsContainer {
        display: flex;
        flex-direction: column;
        padding: 0 15px;
        width: 100%;
        max-width: 1070px;

        .sortingContainer {
          display: flex;
          align-items: center;
          width: 100%;
          justify-content: space-between;

          p {
            color: $gray;
          }

          .sort {
            select {
              background: transparent;
              color: $gray;
              border: 0;
              outline: 0;

              &:focus {
                color: $green;
                background: $grayFill;
              }


            }
          }
        }

        .allProducts {
          display: flex;
          flex-wrap: wrap;
          width: 100%;
          gap: 25px;
          margin-top: 20px;

          .productCard {
            width: 100%;
            max-width: 330px;
          }
        }

        .pagination {
          margin-top: 25px;
        }

      }

    }
  }

  .testimonialsSection {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 100px 15px 0 15px;

    .sectionContent {
      display: flex;
      max-width: 1400px;
      width: 100%;

      .commentBox {
        display: flex;
        width: 100%;
        border: 1px solid $green;
        padding: 15px;
        gap: 15px;
        border-radius: 10px;
        .imageBox {
          width: auto;
          display: flex;
          align-items: start;
          justify-content: center;
          max-width: 150px;
          img {
            width: 100%;
            object-fit: cover;
            object-position: center;
          }
        }
        .title {
          display: flex;
          flex-direction: column;
          h2 {
            color: $green;
          }
          >p {
            color: $gray;
            min-height: 85px;
            margin-top: 10px;
          }
          .bottomRow {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 25px;

            .userInfo {
              display: flex;
              justify-content: space-between;
              gap: 15px;
              .userImg {
                width: 50px;
                border: 1px solid $green;
                img {
                  width: 100%;
                  object-position: center;
                  object-fit: cover;
                }
              }
              .name {
                display: flex;
                flex-direction: column;
                h2 {
                  font-size: 20px;
                }
                p {
                  font-size: 14px;
                }
              }

            }
            .rating {
              display: flex;
              flex-direction: column;
              align-items: end;
              gap: 5px;
            }
          }

        }

      }

    }
  }
}