@import  "../../../../Variables/Variables";

.headerWrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  box-shadow: 0 4px 24px -1px rgba(0, 0, 0, .2);
  background: linear-gradient(153.32deg, rgba(255, 255, 255, 0.3) -65.62%, rgba(255, 255, 255, 0.1) 83.28%);
  height: 100px;
  backdrop-filter: blur(15px);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
}