@import "../../../../Variables/Variables";
@import "../../../../Animations/Animations";
@import "../../../../CommonStyles/PageHeadingStyles/PageHeadingStyles.module";

.partnersSection {
  display: flex;
  width: 100%;
  justify-content: center;

  .sectionContent {
    display: flex;
    width: 100%;
    max-width: 1320px;
    padding: 120px 15px 60px 15px;
    flex-direction: column;

    .sectionTitle {
      max-width: 650px;
      margin: 0 auto;
    }

    .partnersContainer {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      gap: 25px;
      max-width: 1100px;
      justify-content: space-between;
      margin: 50px auto 0 auto;

      .partnerLogo {
        width: 100%;
        max-width: 210px;

        img {
          width: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
    }
  }
}

@media screen and (max-width: 1600px) {
  .partnersSection {
    .sectionContent {
      padding: 100px 15px 50px 65px;
    }
  }
}

@media screen and (max-width: 1100px) {
  .partnersSection {
    .sectionContent {
      padding: 80px 15px 35px 65px;

      .partnersContainer {
        margin: 35px auto 0 auto;
        justify-content: center;
        gap: 35px;
        .partnerLogo {
          width: 250px;
          max-width: unset;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .partnersSection {
    .sectionContent {
      padding: 50px 15px 15px 65px;

      .partnersContainer {
        margin: 25px auto 0 auto;
        .partnerLogo {
          width: 250px;
        }
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .partnersSection {
    .sectionContent {
      padding: 50px 15px 15px 15px;
    }
  }
}