@import "../../../../Variables/Variables";

.loaderWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  background-color: $background;
  width: 100vw;
  min-height: 100vh;
  z-index: 99999;
  flex-direction: column;
}

.title {
  margin-top: 15px;
  color: $green;
  font-size: 32px;
  position: relative;

  p {
    position: absolute;
    left: calc(100% + 3px);
    top: 50%;
    transform: translateY(-50%);
  }
}

@media screen and (max-width: 1000px) {
  .loaderWrapper {
    svg {
      width: 80px;
      height: 80px;
    }

    .title {
      font-size: 26px;
    }

  }
}

@media screen and (max-width: 700px) {
  .loaderWrapper {
    svg {
      width: 60px;
      height: 60px;

    }
  }
}