@import "../../../Variables/Variables";

.wishlistMain {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 15px 0 15px;
  background: $background;
  min-height: 100vh;

  .wishlistEmpty {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 200px 30px;
    gap: 25px;
    margin: auto;
    color: $white;

    img {
      max-width: 80px;
      object-fit: cover;
      object-position: center;
      width: 100%;
      filter: invert(0.8);
    }

    p {
      font-size: 25px;
      text-align: center;
    }
  }

  .wishlistCardsWrapper {
    display: flex;
    max-width: 1320px;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 50px 15px 100px 15px;

    .tableRow {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-between;

      &.topRow {
        border-bottom: 1px solid $green;

        .cell {
          font-weight: 600;
          font-size: 20px;
        }
      }

      &.bottomRow {
        border-bottom: 1px solid rgba(128, 128, 128, 0.2);
      }

      .cell {
        display: flex;
        align-items: center;
        padding: 30px 0;
        margin-right: 30px;
        width: 100%;
      }

      .product {
        max-width: 650px;
        position: relative;
        .colorBox {
          position: absolute;
          left: 0;
          top: 10px;
          display: flex;
          align-items: center;
          text-transform: uppercase;
          font-size: 12px;
          color: $gray;

        }

        img {
          max-width: 120px;
          width: 100%;
          object-position: center;
          object-fit: cover;
          margin-right: 25px;
        }

        a {
          font-size: 22px;
          max-width: 510px;
          width: 100%;
          transition: color $transition;

          &:hover {
            color: $green;
          }
        }
      }

      .price {
        max-width: 200px;

        span {
          font-weight: 400;
          display: inline-flex;
          align-items: center;
          font-size: 20px;

          gap: 15px;

          p {
            color: gray;
            text-decoration: line-through;
          }
        }
      }

      .stock {
        max-width: 150px;
        justify-content: center;

        span {
          display: flex;
          align-items: center;
          font-size: 20px;

          &.inStock {
            color: green;
            gap: 5px;
          }

          &.notInStock {
            color: red;
            gap: 2px;
          }
        }
      }

      .add {
        max-width: 200px;
        justify-content: center;

        .addToCart {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          text-transform: uppercase;
          background-color: $green;
          height: 45px;
          color: $black;
          font-weight: 600;
          cursor: pointer;
          transition: background-color $transition, color $transition;
          border-radius: 10px;
          font-size: 16px;

          &:hover {
            background-color: $greenDark;
            color: $white;
          }
        }

        b {
          font-weight: 600;
          font-size: 14px;
        }
      }

      .delete {
        max-width: 115px;
        justify-content: end;

        .deleteBtn {
          cursor: pointer;
          transition: color $transition, transform $transition;
          border-radius: 10px;
          background: $black;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 45px;
          height: 45px;

          &:hover {
            transform: rotate(360deg);

            svg {
              color: $greenDark;
            }
          }

          svg {
            font-size: 30px;
            color: $green;
            transition: color $transition;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .wishlistMain {
    .wishlistCardsWrapper {
      .tableRow {
        .price {
          max-width: 150px;
        }

        .stock {
          max-width: 120px;
        }

        .add {
          max-width: 150px;
        }

        .delete {
          max-width: 80px;
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {

  .wishlistMain {
    padding: 100px 15px 75px 15px;
    .wishlistEmpty {
      gap: 10px;
    }

    .wishlistCardsWrapper {
      .tableRow {
        flex-direction: column;
        align-items: start;
        padding-bottom: 25px;

        &.topRow {
          display: none;
        }

        .cell {
          padding: 5px 10px 10px 0;
          margin: 0;
        }

        .product {
          max-width: unset;
          flex-direction: column;
          align-items: start;

          img {
            margin: 0;
          }

          a {
            max-width: unset;
          }

        }

        .price {
          max-width: unset;
        }

        .stock {
          max-width: unset;
        }

        .add {
          max-width: unset;
          justify-content: start;
        }

        .delete {
          max-width: unset;
          justify-content: start;
        }
      }
    }
  }
}


@media screen and (max-width: 800px) {
  .wishlistMain {
    padding: 50px 15px 50px 15px;

    .wishlistCardsWrapper {
      .tableRow {
        .add {
          height: 50px;
          align-items: end;
        }

        .delete {
          .deleteBtn {
            height: 40px;
            width: 40px;
            svg {
              font-size: 23px;
            }
          }
        }
      }
    }
  }

}