@import '../../../Variables/Variables';
@import '../../../Animations/Animations';
@import '../../../CommonStyles/PageHeadingStyles/PageHeadingStyles.module';

.pageWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;

  .videoScreen {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 25;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.6s ease;

    &.videoOpened {
      opacity: 1;
      pointer-events: auto;
    }

    .container {
      max-width: 900px;
      width: 100%;
      height: 500px;
      border: 2px solid $green;
      position: relative;

      .closeBtn {
        position: absolute;
        cursor: pointer;
        top: -45px;
        right: -45px;

        &:hover {
          svg {
            color: $greenDark;
            transform: scale(1.1) rotate(180deg);
          }
        }

        svg {
          transition: color $transition, transform $transition;
          color: $green;
          font-size: 42px;
        }
      }

      .iframe {
        width: 100%;
        height: 100%;
        border: 0;
      }
    }
  }

  .servicesSection {
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: $background;

    .sectionContent {
      display: flex;
      width: 100%;
      flex-direction: column;
      max-width: 1320px;
      padding: 120px 0;

      .titleBlock {
        max-width: 700px;
        margin: 0 auto;
      }

      .containersBlock {
        display: flex;
        width: 100%;
        max-width: 1320px;
        flex-wrap: wrap;
        gap: 25px;
        margin-top: 25px;

        .container {
          max-width: 423px;
          width: 100%;
          padding: 0 12px;
          height: 470px;
          background-color: $grayFill;
          background-size: cover;
          background-position: center;
          position: relative;
          border-bottom: 3px solid $green;
          border-radius: 10px 10px 0 0;
          overflow: hidden;

          &:hover {
            .cover {
              top: -100%;
            }

            .text {
              opacity: 0;
            }
          }

          .findOut {
            border-radius: 50%;
            background-color: $green;
            color: $black;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 5px;
            width: 100px;
            height: 100px;
            left: 15px;
            bottom: 15px;
            transition: color $transition, background-color $transition;
            position: absolute;
            border: 3px solid $white;
            animation: rotateMoveShake 20s linear infinite;


            &:hover {
              background-color: $greenDark;
              color: $white;
            }

            p {
              font-weight: 800;
            }

          }

          .cover {
            position: absolute;
            left: 0;
            top: 0;
            transition: top 0.6s ease;
            width: 100%;
            height: 100%;
            background-color: $grayFill;
          }

          .text {
            transition: opacity 0.6s ease;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            color: $white;
            font-size: 32px;
            font-weight: 800;
            width: 100%;
            text-align: center;
          }


        }
      }
    }
  }

  .focusSection {
    display: flex;
    width: 100%;
    align-items: center;
    background-color: $grayFill;
    position: relative;
    flex-direction: column;

    .decoration {
      position: absolute;

      &.square {
        left: 13%;
        top: 25%;
        animation: rotate 25s linear infinite;
      }

      &.spring {
        top: 5%;
        right: 12%;
        animation: shake 3s linear infinite;

      }

      img {
        object-fit: cover;
        object-position: center;
      }
    }

    .sectionContent {
      display: flex;
      width: 100%;
      max-width: 1320px;
      padding: 120px 15px;

      .achievementContainer {
        display: flex;
        width: 100%;
        align-items: center;
        margin-bottom: 25px;
        flex-wrap: wrap;

        .container {
          display: flex;
          justify-content: center;
          max-width: 322px;
          width: 100%;
          align-items: center;

          .title {
            display: flex;
            flex-direction: column;

            h2 {
              font-size: 80px;
              color: $green;
              display: flex;
            }

            p {
              font-size: 16px;
              color: $gray;
            }

          }
        }
      }

    }

    .videoContainer {
      display: flex;
      width: 100%;
      justify-content: center;
      position: relative;

      &:before {
        content: "";
        position: absolute;
        height: 60%;
        width: 100%;
        bottom: 0;
        left: 0;
        background-color: $background;
      }

      .videoBox {
        max-width: 1320px;
        width: 100%;
        padding: 0 15px;
        position: relative;

        .play {
          border-radius: 50%;
          background-color: $green;
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          left: 50%;
          width: 115px;
          height: 115px;
          top: 50%;
          transition: background-color $transition;
          transform: translate(-50%, -50%);
          cursor: pointer;

          &:hover {
            background-color: $greenDark;
            color: $white;

            p {
              transform: rotate(360deg);
              color: $white;
            }

          }

          p {
            font-size: 20px;
            color: $black;
            text-transform: uppercase;
            font-weight: 600;
            transition: transform 0.5s ease, color $transition;
          }
        }

        img {
          width: 100%;
          object-position: center;
          object-fit: cover;
        }
      }
    }
  }

  .howItWorksSection {
    display: flex;
    width: 100%;
    justify-content: center;

    .sectionContent {
      display: flex;
      width: 100%;
      flex-direction: column;
      max-width: 1320px;
      padding: 120px 15px;
      background-color: $background;

      .titleBlock {
        max-width: 700px;
        margin: 0 auto 50px auto;

      }

      .boxesRow {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        gap: 25px;
        align-items: center;

        .box {
          display: flex;
          flex-direction: column;
          width: 100%;
          max-width: 300px;
          border-radius: 15px;
          background: $grayFill;
          align-items: center;
          padding: 40px 30px;
          position: relative;
          transition: background-color $transition;

          &:hover {
            background-color: rgba(128, 128, 128, 0.3);

            .circle {
              background-color: $green;

              svg {
                color: $black;
                transform: rotate(360deg);
              }
            }

            .arrows {
              svg {
                transform: rotate(180deg);
              }
            }
          }

          .arrows {
            position: absolute;
            top: 50%;
            width: 40px;
            height: 40px;
            right: -15px;
            z-index: 1;
            border-radius: 50%;
            background-color: $greenDark;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $white;
            transform: translateY(-50%);

            svg {
              font-size: 32px;
              transition: transform 0.5s ease;
              margin-left: 2px;
            }

          }

          .circle {
            width: 80px;
            height: 80px;
            align-items: center;
            justify-content: center;
            background: #303141;
            border-radius: 50%;
            display: flex;
            margin-bottom: 20px;
            transition: background-color $transition;

            svg {
              transition: color $transition, transform 0.5s ease;
              color: $green;
              font-size: 32px;
            }
          }

          h2 {
            font-size: 24px;
            margin-bottom: 15px;
            text-align: center;
          }

          p {
            color: $gray;
            font-size: 16px;
            text-align: center;
            line-height: 25px;
            font-family: $interFont;
          }
        }
      }

    }
  }

  .gameFeaturesSection {
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: $grayFill;

    .sectionContent {
      display: flex;
      max-width: 1320px;
      padding: 120px 15px;
      flex-direction: column;

      .titleBlock {
        margin: 0 auto;
        max-width: 650px;
      }

      .benefitsContainer {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        gap: 25px;
        margin-top: 35px;

        .box {
          background-color: #303141;
          border: 1px solid #303141;
          display: flex;
          padding: 40px 36px;
          border-radius: 12px;
          max-width: 632px;
          gap: 25px;
          transition: background-color $transition;

          &:hover {
            background-color: transparent;

            .circle {
              transform: rotate(360deg);
            }

            .title {
              h2 {
                color: $green;
              }
            }
          }

          .circle {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 80px;
            height: 80px;
            background-color: $greenDark;
            border-radius: 50%;
            min-width: 80px;
            transition: transform 0.5s ease;

            svg {
              color: $white;
              font-size: 38px;
            }
          }

          .title {
            display: flex;
            flex-direction: column;
            width: 100%;

            h2 {
              margin-bottom: 10px;
              font-size: 20px;
              transition: color $transition;
            }

            p {
              font-size: 16px;
              color: $gray;
              line-height: 24px;
              font-family: $interFont;
            }
          }
        }
      }
    }
  }

  .recentlyCompletedSection {
    display: flex;
    width: 100%;
    justify-content: center;

    .sectionContent {
      max-width: 1320px;
      padding: 120px 15px;
      background-color: $background;
      flex-direction: column;
      display: flex;
      width: 100%;

      .topRow {
        display: flex;
        width: 100%;
        justify-content: space-between;
        gap: 25px;

        .titleBlock {
          max-width: 700px;
        }

        .viewAll {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 10px;
          width: 150px;
          height: 150px;
          background-color: $grayFill;
          border: 1px solid $greenDark;
          padding: 15px;
          border-radius: 50%;
          transition: background-color $transition;
          box-shadow: 0 0 15px $green;
          animation: rotateMoveShake 15s linear infinite;

          &:hover {
            background-color: $green;

            p {
              color: $black;
            }

            svg {
              color: $black;
            }
          }

          p {
            color: $gray;
            font-weight: 600;
            font-size: 16px;
            transition: color $transition;
            font-family: $interFont;
          }

          svg {
            color: $gray;
            transition: color $transition;
          }
        }
      }

      .swiperContainer {
        display: flex;
        width: 100%;
        margin-top: 75px;
        position: relative;

        .animatedBlock {
          position: absolute;
          right: 0;
          bottom: 7px;
          z-index: 5;
          background-color: $background;
          padding: 10px 25px;
          display: flex;
          align-items: center;
          gap: 50px;
          border-radius: 10px 0 0 0;

          .monitoringBox {
            h2 {
              display: inline-flex;
              align-items: center;
              gap: 10px;
              color: $green;

              span {
                background: $white;
                height: 2px;
                width: 100px;
                position: relative;

                &:after {
                  content: "";
                  width: 100%;
                  height: 100%;
                  background: $green;
                  position: absolute;
                  left: 0;
                  top: 0;
                }

                &.animated {
                  &:after {
                    animation: widthAnim 3s linear;
                  }
                }
              }

              p {
                color: $gray
              }
            }
          }

          .customPagination {
            display: flex;
            align-items: center;
            gap: 10px;

            .circle {
              width: 10px;
              height: 10px;
              background-color: gray;
              border-radius: 50%;
              transition: background-color $transition, transform $transition;
            }
          }
        }

        .sliderBox {
          width: 100%;
          position: relative;
          overflow: hidden;

          .titleContainer {
            display: flex;
            flex-direction: column;
            padding: 32px;
            background-color: $background;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
            max-width: 420px;
            border-radius: 0 10px 10px 0;
            transition: opacity $transition;

            &.visible {
              animation: show 1.5s ease;
            }

            h2 {
              font-size: 32px;
              color: $white;

            }

            p {
              font-size: 16px;
              font-family: $interFont;
              color: $gray;
              margin-top: 12px;
            }

            a {
              border-radius: 50%;
              display: flex;
              width: 40px;
              height: 40px;
              align-items: center;
              justify-content: center;
              background: $grayFill;
              margin-top: 25px;
              transition: background-color 0.5s ease;

              &:hover {
                background-color: #4c4d5a;

                svg {
                  transform: rotate(360deg);
                }
              }

              svg {
                transition: transform 0.5s ease;
                color: $green;
              }
            }
          }

          img {
            width: 100%;
            object-fit: cover;
            object-position: center;
            border-radius: 10px 10px 0 0;
            border-bottom: 2px solid $green;
          }
        }
      }
    }
  }

  .contactUsSection {
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: $background;
    .sectionContent {
      max-width: 1320px;
      width: 100%;
      display: flex;
      flex-direction: column;
      padding: 120px 15px;
    }
  }
}