@import "../../../../Variables/Variables";
@import "../../../../Animations/Animations";
@import "../../../../CommonStyles/PageHeadingStyles/PageHeadingStyles.module";

.contactUsSection {
  display: flex;
  width: 100%;
  justify-content: center;
  background-image: url("https://pixner.net/gamestorm3/main/assets/images/contact-us-obj.png"), url("https://pixner.net/gamestorm3/main/assets/images/contact-us-object-2.png");
  background-position: center left, center right;
  background-repeat: no-repeat;
  background-color: $background;
  .sectionContent {
    padding: 120px 15px;
    display: flex;
    width: 100%;
    max-width: 1320px;
    align-items: center;
    justify-content: space-between;
    gap: 35px;
    .titleBlock {
      max-width: 550px;
      width: 100%;
      display: flex;
      flex-direction: column;
      .infoRow {
        margin-top: 25px;
        display: flex;
        align-items: center;
        gap: 10px;
        .icon {
          width: 40px;
          height: 40px;
          background: $grayFill;
          display: flex;
          align-items: center;
          justify-content: center;
          color: $green;
          border-radius: 50%;
        }
        p {
          color: $gray;
          font-family: $interFont;
        }

      }
    }
    .formContainer {
      max-width: 550px;
      padding: 16px;
      border-radius: 10px;
      width: 100%;
      background: $grayFill;
      margin-right: 80px;
    }
  }

}

@media  screen and (max-width: 1600px) {
  .contactUsSection {
    background-position: center left, center center;
    .sectionContent {
      padding: 110px 15px 110px 65px;
      .formContainer {
        margin-right: 0;
      }
    }
  }
}
@media  screen and (max-width: 1320px) {
  .contactUsSection {
    .sectionContent {
      padding: 90px 15px 90px 65px;
      gap: 25px;
    }
  }
}
@media  screen and (max-width: 1024px) {
  .contactUsSection {
    background-position: left top, bottom right;
    .sectionContent {
      padding: 80px 15px 80px 65px;
      gap: 25px;
      flex-direction: column;
      .titleBlock {
        .infoRow {
          margin-top: 15px;
        }
      }
    }
  }
}

@media  screen and (max-width: 800px) {
  .contactUsSection {
    background-image: url("https://pixner.net/gamestorm3/main/assets/images/contact-us-obj.png");
    background-position: right top;
    .sectionContent {
      padding: 50px 15px 50px 65px;
      max-width: unset;
      .formContainer {
        max-width: unset;
      }
      .titleBlock {
        max-width: unset;
      }
    }
  }
}
@media  screen and (max-width: 500px) {
  .contactUsSection {
    .sectionContent {
      padding: 50px 15px 50px 15px;
      .formContainer {
        padding: 10px;
      }
    }
  }
}