@import "../../../../Variables/Variables";
@import "../../../../CommonStyles/PageHeadingStyles/PageHeadingStyles.module";
@import "../../../../Animations/Animations";


.gamesSection {
  display: flex;
  justify-content: center;
  width: 100%;
  background-image: url("https://pixner.net/gamestorm3/main/assets/images/our-games-bg.png");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-color: $grayFill;

  &.noJoysticks {
    &:after {
      display: none;
    }

    &:before {
      display: none;
    }
  }

  &:after {
    position: absolute;
    content: "";
    background-image: url("https://pixner.net/gamestorm3/main/assets/images/our-games-shape.png");
    background-size: auto;
    background-repeat: no-repeat;
    z-index: 1;
    width: 625px;
    height: 440px;
    right: 0;
    top: 12%;
  }

  &:before {
    position: absolute;
    content: "";
    background-image: url("https://pixner.net/gamestorm3/main/assets/images/our-games-shape.png");
    background-size: auto;
    background-repeat: no-repeat;
    z-index: 1;
    width: 625px;
    height: 440px;
    left: 0;
    bottom: 12%;
  }

  .sectionContent {
    padding: 120px 15px;
    max-width: 1320px;
    width: 100%;
    flex-direction: column;
    align-items: center;
    display: flex;
    z-index: 2;

    .topContainer {
      max-width: 700px;
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 15px;
      align-items: center;
      color: $white;

      .genresContainer {
        display: flex;
        border: 1px solid rgba(128, 128, 128, 0.3);
        border-radius: 5px;
        padding: 12px;
        gap: 15px;
        flex-direction: column;

        .genresRow {
          display: flex;
          gap: 15px;

          .genreBox {
            display: flex;
            align-items: center;
            justify-content: center;
            background: rgba(128, 128, 128, 0.3);
            border-radius: 10px;
            padding: 10px;
            cursor: pointer;
            transition: background $transition;

            &:hover {
              background: $greenDark;
            }

            &.active {
              background: $greenDark;
              animation: rotateRight 0.5s linear;
            }

            img {
              max-width: 80px;
              width: 100%;
              filter: invert(1);
            }
          }

        }

        .gameSearch {
          display: flex;
          align-items: center;
          width: 100%;
          border: 1px solid rgba(128, 128, 128, 0.3);
          border-radius: 5px;
          transition: border-color $transition;

          &:hover {
            border-color: $greenDark;
          }

          input {
            width: 100%;
            background: transparent;
            outline: 0;
            border: 0;
            padding: 10px;
            color: $white;
            font-size: 20px;
            font-family: $interFont;

          }
        }
      }

    }

    .gamesContainer {
      display: flex;
      flex-direction: column;
      max-width: 1100px;
      width: 100%;
      margin: 35px 0;
      gap: 25px;

      .nothingFound {
        margin: 25px auto;
        font-size: 25px;
      }
    }

  }
}

@media screen and (max-width: 1700px) {
  .gamesSection {
    &::after {
      top: 17%;
      background-size: 90%;
      width: 325px;
      right: 1%;
    }

    &::before {
      top: 17%;
      background-size: 90%;
      width: 325px;
      left: 2%;

    }
  }
}

@media screen and (max-width: 1600px) {
  .gamesSection {
    .sectionContent {
      padding: 100px 15px 100px 65px;

    }
  }
}

@media screen and (max-width: 1320px) {
  .gamesSection {
    .sectionContent {
      padding: 80px 15px 80px 65px;
      .topContainer {
        .genresContainer {
          .genresRow {
            .genreBox {
              img {
                max-width: 65px;
              }

            }
          }
        }
      }
      .gamesContainer {
        max-width: 850px;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .gamesSection {
    .sectionContent {
      &:before {
        display: none;
      }
      &:after {
        display: none;
      }
    }

  }
}

@media screen and (max-width: 500px) {
  .gamesSection {
    .sectionContent {
      padding: 35px 15px 35px 15px;

    }

  }
}