@import '../../../../Variables/Variables';
@import '../../../../Animations/Animations';
@import '../../../../CommonStyles/PageHeadingStyles/PageHeadingStyles.module';

.focusSection {
  display: flex;
  width: 100%;
  align-items: center;
  background-color: $grayFill;
  position: relative;
  flex-direction: column;

  .decoration {
    position: absolute;

    &.square {
      left: 12%;
      top: 25%;
      animation: rotate 25s linear infinite;
    }

    &.spring {
      top: 5%;
      right: 5%;
      animation: shake 3s linear infinite;

    }

    img {
      object-fit: cover;
      object-position: center;
    }
  }

  .sectionContent {
    display: flex;
    width: 100%;
    max-width: 1320px;
    padding: 120px 15px;

    .achievementContainer {
      display: flex;
      width: 100%;
      align-items: center;
      margin-bottom: 25px;
      flex-wrap: wrap;

      .container {
        display: flex;
        justify-content: center;
        max-width: 322px;
        width: 100%;
        align-items: center;

        .title {
          display: flex;
          flex-direction: column;

          h2 {
            font-size: 80px;
            color: $green;
            display: flex;
          }

          p {
            font-size: 16px;
            color: $gray;
          }

        }
      }
    }

  }
}

@media screen and (max-width: 1650px) {
.focusSection {
  .sectionContent {
    max-width: 1000px;
    .achievementContainer {
      .container {
        max-width: 242px;
        .title {
          h2 {
            font-size: 65px;
          }
        }
      }
    }
  }
}
}

@media screen and (max-width: 1400px) {
  .focusSection {
    .decoration {
      &.spring {
        right: 5%;
        top: 3%;
        max-width: 100px;
        img {
          width: 100%;
        }
      }
      &.square {
        left: 5%;
        max-width: 100px;
        top: 3%;
        img {
          width: 100%;
        }
      }
    }
    .sectionContent {
      padding: 100px 15px 100px 65px;

      .achievementContainer {
        .container {
          max-width: 230px;

        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .focusSection {
    .decoration {
      &.spring {
        top: 2%;
      }
      &.square {
        left: 7%;
        top: 2%;
      }
    }
    .sectionContent {
      padding: 100px 15px 50px 65px;

      .achievementContainer {
        justify-content: center;
        gap: 25px;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .focusSection {
    .sectionContent {
      padding: 95px 15px 35px 65px;

      .achievementContainer {
        .container {
          max-width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .focusSection {
    .decoration {
      display: none;
    }
    .sectionContent {
      padding: 35px 15px 35px 15px;
    }
  }
}