@import '../../../../Variables/Variables';
@import '../../../../Animations/Animations';
@import "../../../../CommonStyles/PageHeadingStyles/PageHeadingStyles.module";

.counterSection {
  display: flex;
  justify-content: center;
  width: 100%;
  background: $background;

  .sectionContent {
    display: flex;
    max-width: 1320px;
    width: 100%;
    justify-content: center;
    padding: 120px 15px 0 15px;

    .informationContainer {
      display: flex;
      width: 100%;
      gap: 10px;

      .box {
        max-width: 330px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 25px 12px;
        font-size: 80px;
        color: rgba(128, 128, 128, 0.1);
        font-weight: 700;
        position: relative;
        transition: background 0.5s ease;

        &.activeBox {
          background: $grayFill;
        }

        > p {
          position: absolute;
          left: 50%;
          top: 50%;
          color: $white;
          font-size: 20px;
          transform: translate(-50%, -50%);
          font-family: $interFont;
          font-weight: 400;
          white-space: nowrap;
        }
      }
    }
  }
}

@media screen and (max-width: 1600px) {
  .counterSection {
    .sectionContent {
      padding: 100px 15px 0 50px;
    }
  }
}
@media screen and (max-width: 1320px) {
  .counterSection {
    .sectionContent {
      padding: 75px 15px 50px 50px;
      .informationContainer {
        flex-wrap: wrap;
        justify-content: center;
      }
    }
  }
}
@media screen and (max-width: 1074px) {
  .counterSection {
    .sectionContent {
      padding: 50px 15px 50px 65px;
    }
  }
}
@media screen and (max-width: 750px) {
  .counterSection {
    .sectionContent {
      padding: 25px 15px 75px 65px;
      .informationContainer {
       .box {
         max-width: 100%;
       }
      }
    }
  }
}
@media screen and (max-width: 500px) {
  .counterSection {
    .sectionContent {
      padding: 25px 15px 50px 15px;
    }
  }
}