@import "../../../../Variables/Variables";

.sideMenuWrapper {
  position: fixed;
  max-width: 100px;
  width: 100%;
  top: 0;
  left: 0;
  height: 100vh;
  border-right: 1px solid #4c4d5a;
  background: linear-gradient(153.32deg, rgba(255, 255, 255, 0.1) -65.62%, rgba(255, 255, 255, 0.1) 83.28%);
  backdrop-filter: blur(15px);
  z-index: 12;
  box-shadow: 0 4px 24px -1px rgba(0, 0, 0, .2);
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  .menuLogo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
    font-size: 10px;
    color: #c5c5ca;
    gap: 2px;
    cursor: pointer;
    transition: color $transition, transform $transition;

    &:hover {
      color: $green;
      transform: scale(1.1);

      svg {
        transform: rotate(360deg);
      }
    }

    svg {
      font-size: 32px;
      transition: transform $transition;
    }
  }

  .socialBox {
    flex-direction: column;
    gap: 15px;
    display: flex;

    .iconBox {
      border: 1px solid rgba(197, 197, 202, 0.2);
      cursor: pointer;
      border-radius: 50%;
      justify-content: center;
      width: 32px;
      height: 32px;
      align-items: center;
      display: flex;
      transition: border-color $transition,transform $transition;

      &:hover {
        border-color: $green;
        transform: scale(1.1);
        svg {
          transform: rotate(360deg) scale(1.1);
        }
      }

      svg {
        transition: transform $transition, color $transition;
        font-size: 18px;
        color: $green;
      }

    }
  }




}
.sideMenuContent {
  display: flex;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  z-index: 11;
  margin-left: 100px;
  backdrop-filter: blur(10px);
  flex-direction: column;
  align-items: center;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.5s ease;
  &.menuActive {
    opacity: 1;
    pointer-events: auto;
    .navigation {
      .navItem {
        padding: 10px 20px;
      }
    }
    .contacts {
      transform: translateY(0);
    }
  }
  .navigation {
    display: flex;
    gap: 5px;
    align-items: center;
    width: auto;
    margin-top: 200px;

    .navItem {
      font-size: 20px;
      cursor: pointer;
      position: relative;
      padding: 10px 0;
      transition: padding 1s ease;

      .navDropDown {
        display: flex;
        left: 10px;
        position: absolute;
        top: 100px;
        padding-top: 15px;
        opacity: 0;
        transition: opacity $transition, top 0.4s ease;
        pointer-events: none;

        .dropDownContent {
          display: flex;
          flex-direction: column;
          background-color: black;
          padding: 10px;
          min-width: 160px;
          border-radius: 5px;
          gap: 10px;

          a {
            transition: color $transition, letter-spacing $transition;
            font-size: 20px;

            &:hover {
              color: $green;
              letter-spacing: 2px;
            }

          }
        }
      }
      .item {
        transition: color $transition;
        position: relative;
        font-size: 35px;
        font-weight: 600;


        &.current {
          color: $green;

          &:after {
            opacity: 1;
            transform: rotate(-45deg);
          }
        }

        &:after {
          content: "";
          opacity: 0;
          width: 35px;
          height: 1px;
          background: $green;
          position: absolute;
          left: 20%;
          top: 50%;
          transform: translate(-20%, -50%);
          transition: transform $transition, opacity $transition;
        }
      }
      p {
        display: inline-flex;
        align-items: center;
        gap: 2px;

        svg {
          transform: rotate(180deg);
          transition: transform $transition;
        }
      }

      &:hover {
        .item {
          color: $green;

          &:after {
            opacity: 1;
            transform: rotate(-45deg);
          }

          svg {
            transform: rotate(0);
          }
        }

        .navDropDown {
          opacity: 1;
          pointer-events: auto;
          top: 50px;
        }
      }
    }
  }

  .contacts {
    width: 100%;
    border-top: 1px solid rgba(128, 128, 128, 0.5);
    margin-top: auto;
    display: flex;
    transform: translateY(100%);
    transition: transform 1s ease;
    .contactsEntity {
      width: 25%;
      border-right: 1px solid rgba(128, 128, 128, 0.5);
      display: flex;
      flex-direction: column;
      padding: 40px 30px;

      .title {
        font-size: 24px;
        margin-bottom: 24px;
        font-weight: 700;
      }
      .details {
        display: flex;
        gap: 20px;
        align-items: center;
        .icon {
          width: 60px;
          height: 60px;
          background: #242538;
          border: 1px dashed white;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          svg {
            font-size: 32px;
            color: $green;
          }
        }
        .address {
          display: flex;
          flex-direction: column;
          gap: 5px;
          font-family: $interFont;
          h2 {
            font-size: 20px;
          }
          p {
            font-size: 16px;
          color: #9b9b9b;

          }

        }
      }

      &:last-child {
        border: 0;
      }
    }
  }

}