@import "../../../../Variables/Variables";
@import "../../../../Animations/Animations";
@import "../../../../CommonStyles/PageHeadingStyles/PageHeadingStyles.module";

.bannerSection {
  display: flex;
  width: 100%;
  justify-content: center;
  background-position: center left;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;

  &:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    z-index: 0;
    background: #222434;
    opacity: 0.8;
  }

  .decoration {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 3;

    img {
      object-position: center;
      object-fit: cover;
    }
  }

  .joystickTop {
    position: absolute;
    left: 45%;
    z-index: 4;
    top: 1%;
    transform: translateX(-45%);
    animation: shake 3s linear infinite;
  }

  .joystickBottom {
    position: absolute;
    left: 40%;
    bottom: 3%;
    z-index: 4;
    transform: translateX(-40%);
    animation: shake 3s linear infinite;

  }

  .sectionContent {
    display: flex;
    width: 100%;
    max-width: 1320px;
    padding: 250px 0;
    gap: 25px;

    .titleContainer {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 660px;
      z-index: 3;
      h4 {
        font-size: 32px;
        color: $green;
        margin-bottom: 10px;
        animation: textGlow 1s linear infinite;
      }

      h1 {
        font-size: 80px;
        color: $white;

        span {
          color: $green;
          animation: textGlow 1s linear infinite;
        }
      }

      > p {
        font-size: 24px;
        color: $gray;
        font-family: $interFont;
      }

      .statisticsContainer {
        display: flex;
        align-items: center;
        gap: 50px;
        margin-top: 40px;

        .box {
          display: flex;
          flex-direction: column;
          gap: 5px;

          p {
            font-size: 16px;
            font-family: $interFont;
            color: $gray;
            position: relative;
            width: min-content;
            white-space: nowrap;

            &:before {
              position: absolute;
              content: "";
              width: 6px;
              height: 6px;
              border-radius: 50%;
              background: blue;
              right: -10px;
              top: 0;
            }

            &.playing {
              &:before {
                background: $green !important;
              }
            }

          }

          h2 {
            font-size: 40px;
          }
        }
      }

      .btnContainer {
        margin-top: 50px;
      }
    }
  }
}

@media screen and (max-width: 1800px) {
  .bannerSection {
    .joystickBottom {
      left: 28%;
    }
  }
}

@media screen and (max-width: 1600px) {
.bannerSection {
  .joystickTop {
    left: 30%;
  }
  .joystickBottom {
    left: 30%;
  }

  .sectionContent {
    padding: 230px 15px 230px 65px;
    .titleContainer {
      max-width: 550px;
      h1 {
        font-size: 50px;
      }
      p {
        font-size: 18px;
      }
      .statisticsContainer {
        margin-top: 35px;
      }
      .btnContainer {
        margin-top: 25px;
      }
    }
  }
}
}

@media screen and (max-width: 1420px) {
  .bannerSection {
    .joystickTop {
      left: 15%;
    }
    .joystickBottom {
      left: 20%;
    }
    .decoration {
      right: -6%;
    }
    .sectionContent {
      padding: 200px 15px 200px 65px;
      .titleContainer {
        max-width: 450px;
        h1 {
          font-size: 35px;
        }
        p {
          font-size: 16px;
          margin-top: 15px;
        }
        .statisticsContainer {
          margin-top: 15px;
        }
        .btnContainer {
          margin-top: 25px;
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .bannerSection {
    .joystickTop {
      left: 12%;
      img {
        max-width: 200px;
      }
    }
    .joystickBottom {
      left: 22%;
      img {
        max-width: 180px;
      }
    }
    .decoration {
      right: -18%;
      img {
        width: 80%;
      }
    }
    .sectionContent {
      padding: 150px 15px 150px 65px;
      .titleContainer {
        max-width: 450px;
        h1 {
          font-size: 32px;
        }
        p {
          font-size: 16px;
        }
        .statisticsContainer {
          flex-direction: column;
          align-items: start;
          gap: 5px;

        }
      }
    }
  }
}

@media screen and (max-width: 1100px) {
  .bannerSection {
    .joystickTop {
      left: 15%;
      top: 0;
      img {
        max-width: 180px;
      }
    }
    .joystickBottom {
      left: 34%;
      img {
        max-width: 130px;
      }
    }
    .decoration {
      right: -30%;
      img {
        width: 70%;
      }
    }
    .sectionContent {
      padding: 120px 15px 120px 65px;
      .titleContainer {
        max-width: 430px;
        h1 {
          font-size: 28px;
        }
        p {
          font-size: 15px;
        }
        .statisticsContainer {
          margin-top: 5px;
          .box {
            h2 {
              font-size: 24px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .bannerSection {
    .joystickTop {
      top: -1%;
      img {
        max-width: 180px;
      }
    }
    .joystickBottom {
      left: 35%;
      img {
        max-width: 120px;
      }
    }
    .decoration {
      right: -41%;
      img {
        width: 60%;
      }
    }
    .sectionContent {
      padding: 100px 15px 100px 65px;
      .titleContainer {
        max-width: 400px;
        h1 {
          font-size: 26px;
        }
      }
    }
  }
}

@media screen and (max-width: 920px) {
  .bannerSection {
    .joystickTop {
      display: none;
    }
    .joystickBottom {
      display: none;
    }
    .decoration {
      display: none;
    }
    .sectionContent {
      padding: 80px 15px 80px 65px;
      .titleContainer {
        max-width: 600px;
        margin: 0 auto;
        h1 {
          font-size: 42px;
        }
        p {
          font-size: 22px;
        }
        .statisticsContainer {
          .box {
            h2 {
              font-size: 32px;
            }
          }
        }

      }
    }
  }
}

@media screen and (max-width: 600px) {
  .bannerSection {
    .sectionContent {
      padding: 50px 15px 50px 65px;
      .titleContainer {
        h1 {
          font-size: 32px;
        }
        p {
          font-size: 18px;
        }
        .statisticsContainer {
          .box {
            h2 {
              font-size: 26px;
            }
          }
        }

      }
    }
  }
}

@media screen and (max-width: 500px) {
  .bannerSection {
    .sectionContent {
      padding: 35px 15px 35px 15px;
      .titleContainer {
        h1 {
          font-size: 28px;
        }
        p {
          font-size: 16px;
        }
        .statisticsContainer {
          .box {
            h2 {
              font-size: 22px;
            }
          }
        }

      }
    }
  }
}





